<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>Home</title>
</head>

<body style="font-family: Arial, sans-serif; height: 100vh; margin: 0; padding: 0; display: flex; align-items: center; justify-content: center; background-image: linear-gradient(0deg, rgb(199, 227, 255), rgb(158, 255, 165));"> -->

<!-- <body class="gradient-background">
    <div class="home-container">

        <h1>
            <a href="faculty.html">Faculty</a> |
            <a href="alumni.html">Alumni</a> |
            <a href="student.html">Student</a>
        </h1>
    </div>
</body>

</html>
<!--  -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Homepage</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            height: 100vh;
            margin: 0;
            padding: 0;
            /* display: flex; */
            align-items: center;
            justify-content: center;
            /* background-image: linear-gradient(0deg, rgb(199, 227, 255), rgb(158, 255, 165)); */
        
        }
    </style>
</head>

<body class="gradient-background" id="layout" style="display: flex;
">

    <div class="home-container">
        <h1>Main Title</h1>
        <hr>
        <div class="links">
            <a href="faculty">Faculty</a>
            <a href="alumni">Alumni</a>
            <a href="students">Student</a>
        </div>
    </div>
</body>

</html>